{% load static %}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <title>Grievance Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css\theme-default.css' %}" /> 
</head>
<body>
    <div class="login-container lightmode">
        <div class="header">
            <div class="container"><a href="/">
               
            </a></div>
        </div>
        <div class="container">
            <div class="clearfix"></div>
            <div class="row">
             <h2 class="portal-heading" font-color="white"> <img style="border-radius:50% ; position:relative; left:0px;" height="139px" width="139px" src="{% static 'images\logo.png' %}" alt="logo">&nbsp;All India Council for Technical Education</h2>
                <h2 class="portal-heading">Grievance Redressal Portal</h2>
                <ul id="hexGrid">
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="">
                                <img src="{% static 'images\admin.png' %}" alt="admin" />
                                <h1>Admin </h1>
                            </a>
                        </div>
                    </li>
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="">
                                <img src="{% static 'images\student.png' %}" alt="student" />
                                <h1>Students </h1>
                            </a>
                        </div>
                    </li>
                    <li class="hex MODU1">
                        <div class="hexIn">
                            <a class="hexLink" href="">
                                <img src="{% static 'images\parent.png' %}" alt="parent" />
                                <h1>Parents </h1>
                            </a>
                        </div>
                    </li>
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="">
                                <img src="{% static 'images\grievance-cell-members.png' %}" alt="grievance-cell-members" />                            
                                <h1>Grievance Cell Members</h1>
                            </a>
                        </div>
                    </li>
                    <li class="hex MODU3">
                        <div class="hexIn">
                            <a class="hexLink" href="">
                                <img src="{% static 'images\faculty.png' %}" alt="faculty" />
                                <h1>Faculty Members</h1>
                            </a>
                        </div>
                    </li>
                    <li class="hex MODU2">
                        <div class="hexIn">
                            <a class="hexLink" href="">
                                <img src="{% static 'images\non-teaching-staff.png' %}" alt="non-teaching-staff" />
                                <h1>Non Teaching Staff </h1>
                            </a>
                        </div>
                    </li>
                    <li class="hex MODU4">
                        <div class="hexIn">
                            <a class="hexLink" href="">
                                <img src="{% static 'images/management.png' %}" alt="management" />
                                <h1>Management </h1>
                            </a>
                        </div>
                    </li>
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="/Home/Help">
                                <img src="{% static 'images\help.png' %}" alt="help" />
                                <h1>Help </h1>
                            </a>
                        </div>
                    </li>
                    <li class="hex">
                        <div class="hexIn">
                            <a class="hexLink" href="">
                                <img src="{% static 'images\contact.png' %}" alt="contact" />
                                <h1>Contact Us</h1>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
            <div class="login-footer">
                
            </div>
        </div>
    </div>
</body>
</html>
<!-- <script src="/Scripts/redirectBackButton.js"></script>
<script src="/Scripts/jquery-3.1.1.min.js"></script>
<script>
    redirectBackButton(window.location.href);
    $.ajax({
        type: "POST",
        url: "/Admin/ModulesAvailable",
        data: {},
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            $.each(JSON.parse(data), function (index, module) {
                if (module.ParameterID == ("MODU" + (index + 1)) && module.ParameterValue == false) {
                    $(".MODU" + (index + 1)).hide();
                }

            });
        }
    });
</script>
 -->